<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="team7.capstone.repository.feed.FeedRepository">

    <select id="fetFeeds" resultType="feed.FeedVO">
        select * from (
        select feed_seq, user_seq, writer_name, content, datetime
        from feed order by feed_seq desc)
    </select>

    <select id="findBySeq" resultType="feed.FeedVO">
        select * from feed where feed_seq = #{feed_seq}
    </select>

    <insert id="save">
        insert into feed(user_seq, writer_name, content) values(#{user_seq}, #{writer_name}, #{content})
    </insert>

    <update id="modifyFeed">
        update feed set content = #{content}, datetime = now()
        where feed_seq = #{feed_seq}
    </update>

    <delete id="deleteFeed">
        delete from feed
        where feed_Seq = #{feed_seq}
    </delete>

</mapper>